### Import pandas and numpy, read the 2 csv and print them

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_train = pd.read_csv("TP_train.csv")
df_test = pd.read_csv("TP_test.csv", header=None)

In [3]:
df_train

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842.0,0,2.2,0,1,0,7,0.6,188.0,2,...,20,756,2549,9,7,19,0,NO,1,MEDIUM
1,1021.0,1,0.5,1,0,1,53,0.7,136.0,3,...,905,1988,2631,17,3,7,1,YES,0,HIGH
2,563.0,1,0.5,1,2,1,41,0.9,145.0,5,...,1263,1716,2603,11,2,9,1,YES,0,HIGH
3,615.0,1,2.5,0,0,0,10,0.8,131.0,6,...,1216,1786,2769,16,8,11,1,NO,0,HIGH
4,1821.0,1,1.2,0,13,1,44,0.6,141.0,2,...,1208,1212,1411,8,2,15,1,YES,0,MEDIUM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1456.0,0,1.6,1,5,0,49,0.2,193.0,3,...,1285,1427,3624,12,11,16,1,YES,0,VERY_HIGH
996,774.0,0,0.5,1,2,1,10,0.5,188.0,2,...,1480,1731,2944,8,6,2,1,YES,1,HIGH
997,1068.0,0,0.5,1,0,1,19,0.9,197.0,8,...,322,875,1209,19,12,12,1,YES,0,LOW
998,1373.0,1,1.9,1,1,1,29,0.9,141.0,6,...,1220,1348,2752,15,2,7,1,YES,1,VERY_HIGH
999,1777.0,1,3.0,0,3,0,20,0.6,188.0,6,...,511,616,3868,5,1,7,0,YES,1,VERY_HIGH

In [4]:
df_test

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,594.0,0,0.8,0,2,1,28,0.1,132.0,5,3,1011,1263,3087,16,4,4,1,YES,1
1,1524.0,0,2.6,1,5,0,57,0.5,124.0,2,12,629,635,947,11,4,16,0,YES,1
2,511.0,1,0.6,1,12,0,50,0.1,175.0,3,16,140,622,1484,9,7,8,1,NO,0
3,1402.0,1,0.6,1,3,0,46,0.3,87.0,7,12,1081,1767,347,17,0,12,1,NO,1
4,965.0,1,0.5,0,15,0,53,1.0,131.0,8,19,297,653,3227,12,6,8,1,NO,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,1472.0,0,3.0,0,4,1,20,0.3,169.0,2,6,443,892,797,6,1,11,1,YES,0
496,1868.0,1,0.5,0,2,1,40,0.9,179.0,8,17,576,884,298,8,2,17,1,YES,0
497,1375.0,0,2.9,0,2,0,20,0.4,147.0,6,7,596,679,3847,8,0,12,1,NO,1
498,881.0,0,1.0,0,1,0,64,0.5,NaN,3,6,115,636,2110,18,9,6,1,YES,1
499,1742.0,1,0.5,1,5,1,43,0.9,176.0,3,7,356,1407,1921,9,2,3,1,YES,0

### Rename df_test columns just like df_train

In [5]:
columns_names = list(df_train.columns)[:-1]
for i in list(df_test.columns):
    df_test.rename(columns={i: columns_names[i]}, inplace=True)
df_test

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,594.0,0,0.8,0,2,1,28,0.1,132.0,5,3,1011,1263,3087,16,4,4,1,YES,1
1,1524.0,0,2.6,1,5,0,57,0.5,124.0,2,12,629,635,947,11,4,16,0,YES,1
2,511.0,1,0.6,1,12,0,50,0.1,175.0,3,16,140,622,1484,9,7,8,1,NO,0
3,1402.0,1,0.6,1,3,0,46,0.3,87.0,7,12,1081,1767,347,17,0,12,1,NO,1
4,965.0,1,0.5,0,15,0,53,1.0,131.0,8,19,297,653,3227,12,6,8,1,NO,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,1472.0,0,3.0,0,4,1,20,0.3,169.0,2,6,443,892,797,6,1,11,1,YES,0
496,1868.0,1,0.5,0,2,1,40,0.9,179.0,8,17,576,884,298,8,2,17,1,YES,0
497,1375.0,0,2.9,0,2,0,20,0.4,147.0,6,7,596,679,3847,8,0,12,1,NO,1
498,881.0,0,1.0,0,1,0,64,0.5,NaN,3,6,115,636,2110,18,9,6,1,YES,1
499,1742.0,1,0.5,1,5,1,43,0.9,176.0,3,7,356,1407,1921,9,2,3,1,YES,0